<ion-header>
  <ion-toolbar>
    <ion-title>LEARN SHAPES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mainCard">
    <img src="assets/shapes1.gif" />
  </ion-card>

  <ion-card class="mainCard">
    <img style="height: 420px" src="assets/shapes2.jpg" />
  </ion-card>

  <ion-slides [options]="options">
    <ion-slide>
      <ion-grid>
        <ion-col size="12">
          <img src="assets/shape_list1.jpg" alt="shape" />
        </ion-col>
        <ion-col size="12"> </ion-col>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-col size="12">
          <img src="assets/shape_list2.jpg" alt="shape" />
        </ion-col>
        <ion-col size="12"> </ion-col>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-col size="12">
          <img src="assets/shape_list3.jpg" alt="shape" />
        </ion-col>
        <ion-col size="12"> </ion-col>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-col size="12">
          <img src="assets/shape_list4.jpg" alt="shape" />
        </ion-col>
        <ion-col size="12"> </ion-col>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-col size="12">
          <img src="assets/shape_list5.jpg" alt="shape" />
        </ion-col>
        <ion-col size="12"> </ion-col>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-card class="videoCard">
    <iframe
      src="https://www.youtube.com/embed/ohaXcHwUWY0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card class="videoCard">
    <iframe
      src="https://www.youtube.com/embed/1VBW6rdvRks"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card class="videoCard">
    <iframe
      src="https://www.youtube.com/embed/XU3PsRNNypc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
</ion-content>
