<ion-header>
  <ion-toolbar>
    <ion-title>Take a Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text></ion-text>
  <ion-label>
    <ion-text color="secondary">
      <h1>Question 1</h1>
      <p>Text<br />Text<br />text</p>
    </ion-text></ion-label
  >
  <ion-label>
    <ion-text color="tertiary">
      <h1>Question 2</h1>
      <p>Text<br />Text<br />text</p>
    </ion-text>
  </ion-label>
  <ion-label>
    <ion-text color="success">
      <h1>Question 3</h1>
      <p>Text<br />Text<br />text</p>
    </ion-text></ion-label
  >
</ion-content>
