.mainTitle {
  text-align: center;
  color: rgb(63, 191, 63);
}
.alphaImg {
  border: 2px solid green;
  border-radius: 12px;
  text-align: center;
  height: 220px;
}
.mainCard {
  border-radius: 6px;
  padding: 8px;
  background-color: aquamarine;
}
.videoCard {
  border: 2px solid green;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: aquamarine;
}
