<ion-header>
  <ion-toolbar>
    <ion-title class="mainTitle">LEARN ALPHABETS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mainCard">
    <img class="alphaImg" src="assets/alpha1.jpg" />
    <img class="alphaImg" src="assets/alpha_vowels.webp"
  /></ion-card>
  <ion-card class="videoCard">
    <iframe
      src="https://www.youtube.com/embed/abxA_XtnRSc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card class="videoCard">
    <iframe
      src="https://www.youtube.com/embed/d1F8B1R-9Zc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
</ion-content>
