ion-content {
  background-color: rgba(63, 191, 127, 0.4);
}

ion-card-title {
  font-size: 16px;
  text-align: center;
}
ion-card-subtitle {
  font-size: 12px;
  text-align: center;
}
.img2 {
  border-radius: 10px;
}
