<ion-header>
  <ion-toolbar>
    <ion-title class="mainTitle">LEARN NUMBERS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mainCard">
    <img
      src="https://media3.giphy.com/media/tu9XFGGaPW5Gw/giphy.gif?cid=ecf05e478oeeksa3vqnog5edgkoo0khr3qgigdo126nk14jv&rid=giphy.gif&ct=g"
    />
  </ion-card>
  <ion-card class="mainCard">
    <img src="https://i.makeagif.com/media/10-07-2019/6FgHTc.gif" />
  </ion-card>
  <ion-card class="videoCard">
    <iframe
      src="https://www.youtube.com/embed/a9PpVo6b7z0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>

  <ion-card class="videoCard">
    <iframe
      src="https://www.youtube.com/embed/P6GteG95qb8"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
</ion-content>
